BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Visibilité à gauche
IndentAccessModifiers: false
AccessModifierOffset: -4

# Longueur des lignes
ColumnLimit: 80

# Alignement des pointeurs
PointerAlignment: Left

# Espaces et mise en forme
SpaceAfterCStyleCast: true
SpacesInParentheses: true
SpacesInSquareBrackets: false
SpacesInAngles: false
SpacesInContainerLiterals: true

# Gestion des includes
IncludeBlocks: Regroup
SortIncludes: true

# Alignement des déclarations
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true

# C++ moderne
Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: Empty

# Style des accolades
BreakBeforeBraces: GNU
